<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | #キャラサミ</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("#キャラサミ", "Latest", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">リンク <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://note.mu/imamoe/n/n4364a64038c5" target="_blank">（自称）萌えキャラ学会 </a></li>
                            <li><a href="https://twitter.com/pronama/charasummi/members" target="_blank">@@pronama/charasummi</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <a href="https://twitter.com/pronama" target="_blank">@@pronama</a> ･ <a href="http://pronama.jp" target="_blank">pronama.jp</a> ･ <a href="https://github.com/kureikei" target="_blank">GitHub</a> ･ <a href="#" id="edit">Edit</a>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>